html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #0a210f;
  color: white;
}

nav {
  background: #0A210F;
  padding: 30px 0;
  margin-bottom: 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.innav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.innav img {
  height: 100%;
}
.innav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-basis: 400px;
  justify-content: space-between;
}
.innav ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.innav ul a:hover {
  text-decoration: underline;
}

.locations__container {
  max-width: 1000px;
  margin: 0 auto;
}

.locations__item {
  margin-bottom: 60px;
}

.locations__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.locations__description .locations__img {
  width: 47%;
}
.locations__description .locations__img img {
  width: 100%;
}
.locations__description .locations__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.locations__description .locations__content .locations__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #f0b92c;
}
.locations__description .locations__content .locations__position {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.locations__description .locations__content .locations__position i {
  color: #f0b92c;
  margin-right: 15px;
  font-size: 26px;
}
.locations__description .locations__content .locations__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.locations__features h2 {
  color: #f0b92c;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
}

.locations__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.locations__list li {
  width: 45%;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
}
.locations__list li .locations__service {
  font-weight: 600;
  position: relative;
}
.locations__list li .locations__service::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #f0b92c;
  position: absolute;
  left: -20px;
  top: 1px;
}
.locations__list li .locations__price {
  font-weight: 500;
}

footer {
  padding: 100px 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links a {
  color: white;
  text-decoration: none;
}
.links p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.links span {
  color: #F0B92C;
  font-size: 18px;
  font-weight: 500;
}
.links .call {
  display: flex;
  min-height: 70px;
}
.links .call .phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.links .socnet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.links .socnet i {
  color: white;
  font-size: 25px;
  margin: 0 5px;
}
.links .socnet a:hover i {
  color: #F0B92C;
}
.links .office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1100px) {
  .locations__container {
    padding: 0 60px;
  }
}
@media screen and (max-width: 950px) {
  .locations__description .locations__img {
    min-width: 80%;
    margin-bottom: 15px;
  }
  .locations__description .locations__content {
    width: 100%;
  }

  .locations__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .locations__list li {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .locations__container {
    max-width: 100%;
    min-width: 100%;
    padding: 0 50px;
  }

  .locations__description .locations__img {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .locations__content .locations__title {
    text-align: center;
  }

  .locations__features h2 {
    text-align: center;
  }

  .locations__list li .locations__service::before {
    content: "";
    width: 12px;
    height: 12px;
    left: -18px;
  }
}
.meals__container {
  max-width: 1000px;
  margin: 0 auto;
}

.meals {
  color: #f0b92c;
}

.meals h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 60px;
}

.meals__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.meals__item {
  width: 48%;
  margin-bottom: 30px;
}

.meals__content {
  height: 345px;
  border: 3px solid white;
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}
.meals__content img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0;
}
.meals__content img:hover {
  transform: scale(1.3);
}

.meals__name a {
  color: #f0b92c;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.meals__name a:hover {
  text-decoration: underline;
}

.meals__author {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}

@media (max-width: 1120px) and (min-width: 320px) {
  .meals__container {
    max-width: 100%;
    min-width: 100%;
  }

  .meals h1 {
    font-size: 54px;
    margin-bottom: 110px;
  }

  .meals__author {
    font-size: 54px;
  }

  .meals__item {
    width: 80%;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .meals__content {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .meals__list {
    justify-content: center;
  }

  .meals__name {
    text-align: center;
  }
  .meals__name a {
    font-size: 46px;
    line-height: 42px;
  }

  .meals__author {
    font-size: 54px;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .meals__name a {
    font-size: 32px;
  }

  .meals__content {
    margin-bottom: 15px;
  }
}
@media (max-width: 570px) and (min-width: 376px) {
  .meals__name a {
    font-size: 22px;
    line-height: 26px;
  }

  .meals h1 {
    margin-bottom: 60px;
    font-size: 42px;
  }

  .meals__author {
    font-size: 42px;
  }

  .meals__item {
    margin-bottom: 50px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .meals h1 {
    margin-bottom: 45px;
    font-size: 36px;
  }

  .meals__author {
    font-size: 36px;
  }

  .meals__item {
    margin-bottom: 40px;
  }

  .meals__list {
    margin-bottom: 0px;
  }

  .meals__name a {
    font-size: 20px;
    line-height: 26px;
  }
}
.recipe__container {
  max-width: 1000px;
  margin: 0 auto;
}

.recipe__heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  margin-bottom: 90px;
  color: #f0b92c;
}

.recipe__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.recipe__img {
  height: 320px;
  width: 50%;
  border-radius: 15px;
  border: 3px solid #f0b92c;
  overflow: hidden;
}
.recipe__img img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0;
}
.recipe__img img:hover {
  transform: scale(1.3);
}

.recipe__ingredients {
  width: 45%;
}
.recipe__ingredients h3 {
  font-size: 28px;
  font-weight: 500;
  color: #f0b92c;
  margin-bottom: 25px;
}
.recipe__ingredients ul {
  padding-left: 25px;
}
.recipe__ingredients i {
  font-size: 22px;
  margin-right: 10px;
}
.recipe__ingredients li {
  margin-bottom: 15px;
  font-size: 22px;
}

.recipe__content h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: #f0b92c;
}
.recipe__content .recipe__list {
  counter-reset: recipe;
}
.recipe__content .recipe__list li {
  font-size: 20px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}
.recipe__content .recipe__list li::before {
  counter-increment: recipe;
  content: counter(recipe) ".";
  color: #f0b92c;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  transform: translate(0, -50%);
  left: 0px;
  top: 50%;
}

@media (max-width: 1070px) and (min-width: 930px) {
  .recipe__container {
    padding: 0 40px;
  }
}
@media (max-width: 929px) and (min-width: 320px) {
  .recipe__container {
    padding: 0 60px;
  }

  .recipe__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .recipe__img {
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
  }

  .recipe__ingredients {
    width: 100%;
  }
}
@media (max-width: 650px) and (min-width: 320px) {
  .recipe__heading {
    margin-bottom: 40px;
  }

  .recipe__img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) and (min-width: 320px) {
  .recipe__container {
    padding: 0 35px;
  }
}
.need__container {
  max-width: 1000px;
  margin: 0 auto;
}

.need__heading {
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  color: #f0b92c;
  text-align: center;
  margin-bottom: 90px;
}

.need__ready {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.need__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-bottom: 60px;
}
.need__list .need__item {
  width: 19%;
  position: relative;
  border: 3px solid #f0b92c;
}
.need__list .need__item:before {
  display: block;
  content: "";
  padding-top: 100%;
  width: 100%;
}
.need__list .need__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.need__list .need__content a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.svg_item {
  fill: white;
}

.svg_item:hover {
  fill: yellow;
}

@media (max-width: 1120px) and (min-width: 320px) {
  .need__container {
    max-width: 100%;
    min-width: 100%;
  }

  .need__list {
    width: 80%;
    margin: 0 auto 60px;
  }
}
@media (max-width: 1120px) and (min-width: 960px) {
  .need__list .need__content a {
    font-size: 16px;
  }

  .svg_item {
    transform: scale(0.9);
  }
}
@media (max-width: 960px) and (min-width: 376px) {
  .need__list .need__item {
    width: 32%;
  }
  .need__list .need__item a {
    font-size: 24px;
  }
  .need__list .need__item:last-child {
    margin: 0 auto;
  }

  .svg_item {
    transform: scale(1.25);
  }
}
@media (max-width: 768px) and (min-width: 376px) {
  .need__list .need__item a {
    font-size: 20px;
  }

  .svg_item {
    transform: scale(1.1);
  }
}
@media (max-width: 680px) and (min-width: 376px) {
  .need__list .need__item a {
    font-size: 16px;
  }

  .svg_item {
    transform: scale(0.85);
  }
}
@media (max-width: 530px) and (min-width: 376px) {
  .need__list .need__item a {
    font-size: 16px;
  }

  .svg_item {
    transform: scale(0.7);
  }

  .need__list .need__item:nth-child(7) .svg_item {
    transform: scale(0.9);
  }
  .need__list .need__item:nth-child(8) .svg_item {
    transform: scale(0.9);
  }
}
@media (max-width: 425px) and (min-width: 376px) {
  .need__heading {
    margin-bottom: 40px;
  }

  .need__list {
    row-gap: 25px;
  }
  .need__list .need__item a {
    font-size: 13px;
  }

  .svg_item {
    transform: scale(0.65);
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  .need__heading {
    margin-bottom: 40px;
  }

  .need__list .need__item {
    width: 48%;
  }
  .need__list .need__item a {
    font-size: 14px;
  }
  .need__list .need__item:last-child {
    margin: 0 auto;
  }

  .svg_item {
    transform: scale(0.85);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .innav ul {
    flex-basis: 330px;
  }
  .innav ul a {
    font-size: 17px;
  }

  footer {
    padding: 100px 0;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links p {
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
  .links span {
    color: #F0B92C;
    font-size: 15px;
    font-weight: 500;
  }
  .links .call {
    display: flex;
    min-height: 70px;
  }
  .links .call .phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
  }
  .links .socnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
  }
  .links .socnet i {
    color: white;
    font-size: 25px;
    margin: 0 5px;
  }
  .links .socnet a:hover i {
    color: #F0B92C;
  }
  .links .office {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 390px;
  }

  .innav img {
    height: 100%;
    width: 132px;
  }
  .innav ul {
    flex-basis: 200px;
  }
  .innav ul a {
    font-size: 13px;
  }

  footer {
    padding: 100px 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
  }
  .links p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .links span {
    color: #F0B92C;
    font-size: 14px;
    font-weight: 500;
  }
  .links .call {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .call .phone {
    justify-content: space-between;
    min-height: inherit;
  }
  .links .socnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .socnet i {
    color: white;
    font-size: 20px;
    margin: 0 5px;
  }
  .links .office {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 350px;
  }

  .innav img {
    width: 122px;
    height: 100%;
  }
  .innav ul {
    flex-basis: 200px;
  }
  .innav ul a {
    font-size: 13px;
  }

  footer {
    padding: 100px 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
  }
  .links p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .links span {
    color: #F0B92C;
    font-size: 14px;
    font-weight: 500;
  }
  .links .call {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .call .phone {
    justify-content: space-between;
    min-height: inherit;
  }
  .links .socnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .socnet i {
    color: white;
    font-size: 20px;
    margin: 0 5px;
  }
  .links .office {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 290px;
  }

  nav {
    margin: 0;
  }

  .innav {
    display: block;
  }
  .innav img {
    width: 122px;
    height: 100%;
    margin-bottom: 5px;
  }
  .innav ul {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .innav ul li {
    margin-right: 15px;
  }
  .innav ul li a {
    font-size: 14px;
  }

  footer {
    padding: 100px 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
  }
  .links p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .links span {
    color: #F0B92C;
    font-size: 14px;
    font-weight: 500;
  }
  .links .call {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .call .phone {
    justify-content: space-between;
    min-height: inherit;
  }
  .links .socnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }
  .links .socnet i {
    color: white;
    font-size: 20px;
    margin: 0 5px;
  }
  .links .office {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
}